
.combo-box-popup .list-view {
    -fx-padding: 10;
    -fx-background-color:  #162a4c;
    -fx-background-radius: 1em;
    -fx-border-color: white;
    -fx-border-radius:1em;
    -fx-border-width:2; 
}
 

.combo-box-popup .list-view .list-cell:filled {
    -fx-padding: 5;
    -fx-background-insets: 1;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color:  #162a4c;
    -fx-text-fill: yellow;
    -fx-background-radius: 0.5em;
    -fx-padding: 5;
    -fx-background-insets: 1;
    
}
.combo-box-popup .list-view .list-cell:selected {
    
    -fx-padding: 5;
    -fx-background-color: #a0bac2;
    -fx-text-fill: white;
    -fx-background-radius: 0.5em;
    -fx-background-insets: 1;
}



.combo-box{
    -jfx-focus-color:white;
    -jfx-unfocus-color:white;
     -fx-text-fill: white;
}
.combo-box:hover{
    -jfx-focus-color:yellow;
    -jfx-unfocus-color:yellow;
     -fx-text-fill: yellow;
}


.combo-box:hover .cell{
    -fx-text-fill: yellow;
    -fx-font: 14px "Calibri";
    -fx-background-color: transparent;
}
.combo-box .cell{
    -fx-text-fill: white;
    -fx-font: 14px "Calibri";
    -fx-background-color: transparent;
}


