.jfx-tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:  #ffffff;
}

.jfx-tab-pane {
  -fx-tab-min-width:150px;
  -fx-tab-max-width:300px;
  -fx-tab-min-height:25px;
  -fx-tab-max-height:30px;
}


.jfx-tab-pane .tab:selected {
    -fx-background-color: #ffffff;   
 }

.jfx-tab-pane .tab-label{
	 -fx-background-color:#ffffff; 
	-fx-font-family: Calibri; 
	 -fx-text-fill: #162a4c;
	 -fx-font-size: 12;
	 -fx-font-weight: bold;	  	
}

.jfx-tab-pane .tab-selected-line {
	  -fx-stroke: green; 
     -fx-stroke-width: 1.5pt;
   
}
